<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <pre>data = {{ data | json }}</pre>
                <pre>form.value = {{ form.value | json }}</pre>
                <form class="user" #form="ngForm">
                  <div class="form-group" [class.was-validated]="form.touched && form.invalid">
                    <input type="email" class="form-control form-control-user" aria-describedby="emailHelp"
                      placeholder="Enter Email Address..." [(ngModel)]="data.email" name="email" #mEmail="ngModel" required email>
                    <!-- 如真不想放name 可加上[ngModelOptions]="{standalone: true} 但submit時將不會送出該值-->
                    <!--  placeholder="Enter Email Address..." [(ngModel)]="data.email" [ngModelOptions]="{standalone: true}" #mEmail="ngModel"> -->
                    <!-- 不應該使用value="will"給預設值，應在ngModel內給預設值 -->
                    <div class="invalid-feedback" *ngIf="mEmail.invalid && mEmail.dirty && mEmail.errors.required">請輸入密碼</div>
                    <div class="invalid-feedback" *ngIf="mEmail.invalid && mEmail.dirty && mEmail.errors.email">請輸入正確的 Email 格式</div>
                  </div>
                  <pre>value = {{ mEmail.value | json }}
                    pristine = {{ mEmail.pristine | json }}
                    dirty = {{ mEmail.dirty | json }}
                    touched = {{ mEmail.touched | json }}
                    untouched = {{ mEmail.untouched | json }}
                    enabled = {{ mEmail.enabled | json }}
                    disabled = {{ mEmail.disabled | json }}
                    valid = {{ mEmail.valid | json }}
                    invalid = {{ mEmail.invalid | json }}
                    status = {{ mEmail.status | json }}
                    errors = {{ mEmail.errors | json }}
                    </pre>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" placeholder="Password"
                      [(ngModel)]="data.password" name="password" #mPassword="ngModel"
                      required minlength="3" maxlength="32" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{3,32}$">
                      <!-- 遇到required undefind Error 時的解法 -->
                      <!-- 解法A 不建議用此方法，因為有可能取不到值-->
                      <div class="invalid-feedback" *ngIf="mPassword.errors?.required">請輸入密碼</div>
                      <div class="invalid-feedback" *ngIf="mPassword.errors?.minlength">密碼請輸入至少 {{mPassword.errors.minlength.requiredLength}} 個字元</div>
                      <div class="invalid-feedback" *ngIf="mPassword.errors?.pattern">請輸入符合規定的密碼</div>
                      <!-- 解法B 寶哥建議用此方式進行判斷-->
                      <div class="invalid-feedback" *ngIf="mPassword.invalid && mPassword.errors.required">請輸入密碼</div>
                      <div class="invalid-feedback" *ngIf="mPassword.invalid && mPassword.errors.minlength">密碼請輸入至少
                        {{mPassword.errors.minlength.requiredLength}} 個字元</div>
                      <div class="invalid-feedback" *ngIf="mPassword.invalid && mPassword.errors.pattern">請輸入符合規定的密碼</div>
                      <pre>errors = {{ mPassword.errors | json }}</pre>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" [(ngModel)]="data.isRememberMe"
                        name="isRememberMe" #mIsRememberMe="ngModel">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    Login
                  </button>
                  <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
